@import url("https://fonts.googleapis.com/css?family=Montserrat:700,900");

body{ 
  font: 14px sans-serif; text-align: center;  
	overflow: hidden; 
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text{
	background-color:white;
	font-size:40px;
}

.text h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 224px;
	font-weight: 800;
	color: #030005;
	text-shadow: -2px -2px 0px #620bbf, 2px 2px 0px #5861cc;
  }